#cssmenu ul { margin: 0; padding: 0;display:block;}
#cssmenu li { margin: 0; padding: 0; display:block;}
#cssmenu a { display:block; margin: 0; padding: 0;}
#cssmenu ul {list-style: none;display:block;}
#cssmenu a {text-decoration: none;display:block;}
#cssmenu {

    color: rgb(50,50,50);
    background-image: url(../stripes.gif);
    background-repeat: all;
    display:block;
    height: 100px; background-color: transparent;
    /*box-shadow: 0px 2px 3px rgba(0,0,0,.4);*/
    float: right;
     font-family: 'Yanone Kaffeesatz', sans-serif;

    }


#cssmenu > ul > li {
    display: block;
    width:120px;
    height: 100px;
    text-transform: uppercase;
 //   background-color: rgb(250,250,250);



 border-bottom: 6px solid transparent;

    float: left;

    position: relative;

    -webkit-transition: background-color 0.9s, border-bottom 0.9s, height 0.9s;
    -moz-transition: background-color 0.9s, border-bottom 0.9s;
    transition: background-color 0.9s, border-bottom 0.9s;


}

#cssmenu > ul > li:hover{

    display:block;
    opacity: 0.7;
    height: 120px;
    background-color: rgb(220,220,220);
    float: left;
       border-bottom: 6px solid #33b5e5;
    position: relative;
 //   color: white;


  -webkit-transition: background-color 0.9s, border-bottom 0.9s;
    -moz-transition: background-color 0.9s, border-bottom 0.9s;
    transition: background-color 0.9s, border-bottom 0.9s;




}


#cssmenu > ul > li > a {

   display: block;

    color: rgb(50,50,50);
    height: 100px;



    font-size: 20px;

    padding: 10px 20px;

}

#cssmenu > ul > li > a  img{


   display: block;
    margin: auto;

    width:32px;
    height:auto;


}

#cssmenu > ul > li:hover > a  img{






}

#cssmenu .iconwrapper
{

   display: block




}

#cssmenu > ul > li > a > span{

   display: block;
    text-align: center;
    padding: 10px;


}

#cssmenu > ul > li:hover > a > span{





}




#cssmenu > ul > li > ul {
    left: -30px;
    display: none;
    opacity: 0;
    visibility: hidden;
    padding: 16px 0 20px 0;
    background-color: rgb(250,250,250);
    text-align: left;
    position: relative;



    width: 180px;


}

#cssmenu > ul > li:hover > ul {


    opacity: 1;
    display:inline-block;
    visibility: visible;
}




#cssmenu > ul ul > li { display:block; position: relative;}

#cssmenu ul ul a{

    text-transform: none;
    font-size: 17px;
    background-color: rgb(250,250,250);
    padding: 8px;
    padding-left: 8px;
    display: block;



}

#cssmenu ul ul a:hover{

    border-left: 4px solid #33b5e5;
    padding: 10px 8px 10px 26px;
    padding-left: 18px;


}


#cssmenu ul ul ul {
    display:none;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: -16px;
    left: 180px;
    padding: 16px 0 20px 0;
    background-color: rgb(250,250,250);
    text-align: left;
    width: 160px;

}



#cssmenu ul ul > li:hover > ul { display:block; opacity: 1; left: 180px; visibility: visible;}





  #menu-icon {

        display: none; /* show menu icon */
    }
