
@media screen and (max-width: 610px) {

  .nav-collapse.collapse {
        position: relative;
    }

 #menu-icon {
        float: right;
        color: #000;
        width: 30px;
        height: 30px;
        background: #ecebeb url(../img/menu-icon.png) no-repeat 10px center;
        padding: 2px;
        cursor: pointer;
        border: solid 1px #666;
        display: block; /* show menu icon */
    }
    #menu-icon:hover {
        background-color: #f8f8f8;
    }
    #menu-icon.active {
        background-color: #bbb;
    }

#cssmenu ul { margin: 0; padding: 0;
 display: -webkit-box;
    display: -moz-box;
    display: box;
    }
#cssmenu li { padding: 0;
 display: -webkit-box;
    display: -moz-box;
    display: box;
 clear: both;
        float: none;
        margin: 5px 0 5px 10px;

}
#cssmenu a { margin: 0; padding: 0;
 display: -webkit-box;
    display: -moz-box;
    display: box;}
#cssmenu ul {list-style: none;
 display: -webkit-box;
    display: -moz-box;

    box-orient: vertical;
-webkit-box-orient: vertical;
-moz-box-orient: vertical;


    display: box;
      width: auto;

 //       position: static;

        border: none;
        background: inherit;
}
#cssmenu a {text-decoration: none;}
#cssmenu {
    height:auto;
    right: 7px;
    clear: both;
    color: rgb(220,220,220);
    position: absolute;
    top: 45px;
    width: auto;
    z-index: 10000;
    padding: 5px;
    background: rgb(35,35,35);
    border: solid 1px #999;
    display: none; /* visibility will be toggled with jquery */

    background-color: rgb(35,35,35);
    float: left;
    font-family: 'Yanone Kaffeesatz', sans-serif;

    }


#cssmenu > ul > li {
    border-radius: 5px;

    height:auto;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    text-transform: uppercase;
    box-shadow: none;
    border-top: none;
    float: none;
    -webkit-box-pack:center;
    -moz-box-pack:center;
    box-pack:center;
     box-orient: vertical;
-webkit-box-orient: vertical;
-moz-box-orient: vertical;
    padding-left: 0px;
 //   position: relative;
margin: 0px 0 0px 0px;
-webkit-transition: none;
   -moz-transition: none;
     -o-transition: none;
        transition: none;


}

#cssmenu > ul > li:hover{

    box-shadow: none;

    background-repeat: no-repeat;
    float: none;
   padding-left: 0px;
//    position: relative;


-webkit-transition: none;
   -moz-transition: none;
     -o-transition: none;
        transition: none;


}


#cssmenu > ul > li > a {

 font: inherit;
        background: none;
         display: -webkit-box;
    display: -moz-box;
    display: box;
        padding: 0;
        color: #666;
        border: none;

    font-size: 20px;


-webkit-transition: none;
   -moz-transition: none;
     -o-transition: none;
        transition: none;
}


#cssmenu > ul > li > a > img{


    display: none;





}

#cssmenu > ul > li:hover > a > img{

    display: none;


}

#cssmenu > ul > li > a > span{

    display: -webkit-box;
    display: -moz-box;
    display: box;
    color: white;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;

    -webkit-transition: color 0.5s;
   -moz-transition: color 0.5s;
     -o-transition: color 0.5s;
        transition: color 0.5s;

}

#cssmenu > ul > li:hover > a > span{

    display: -webkit-box;
    display: -moz-box;
    display: box;
    color: white;
    background-color: transparent;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;

   -webkit-transition: color 0.5s;
   -moz-transition: color 0.5s;
     -o-transition: color 0.5s;
        transition: color 0.5s;

}


#cssmenu > ul > li > a:hover {color: rgb(35,35,35); }


#cssmenu > ul > li > ul {
     display: -webkit-box;
    display: -moz-box;
    display: box;
    opacity: 1;
    visibility: visible;
    padding: 0px 10px 0px 0px;
    background-color: rgb(40,40,40);
    text-align: left;
    position: relative;
    top: 0px;
    left: 0px;
    margin-left: 0px;
    width: auto;
-webkit-transition: none;
   -moz-transition: none;
     -o-transition: none;
        transition: none;
-webkit-border-radius: 0px;
   -moz-border-radius: 0px;
        border-radius: 0px;
-webkit-box-shadow: none;
   -moz-box-shadow: none;
        box-shadow: none;
}

#cssmenu > ul > li:hover > ul {
     display: -webkit-box;
    display: -moz-box;
    display: box;
    opacity: 1;
     padding: 0px 10 20px 0;
    top: 0px;
    visibility: visible;
}

#cssmenu > ul > li > ul:before{
    content: '';
     display: none;
    border-color: transparent transparent rgb(250,250,250) transparent;
    border-style: solid;
    border-width: 10px;
    position: absolute;
    top: -20px;
    left: 50%;
    margin-left: -10px;
}

#cssmenu > ul ul > li {
     display: -webkit-box;
    display: -moz-box;
    display: box;
//    position: relative;
}

#cssmenu ul ul a{
    color: #33b5e5;
    text-transform: none;
    font-size: 17px;
    background-color: inherit;
    padding: 5px 8px 5px 16px;
     display: -webkit-box;
    display: -moz-box;
    display: box;
     -webkit-box-flex:1;
    -moz-box-flex:1;
    box-flex:1;

-webkit-transition: background-color .1s;
   -moz-transition: background-color .1s;
     -o-transition: background-color .1s;
        transition: background-color .1s;
}




#cssmenu ul ul ul {
     display: -webkit-box;
    display: -moz-box;
    display: box;
    visibility: visible;
    opacity: 0;
//  position: absolute;
    top: -16px;
    left: 206px;
    padding: 16px 0 20px 0;
    background-color: rgb(35,35,35);
    text-align: left;
    width: auto;
-webkit-transition: all .3s;
   -moz-transition: all .3s;
     -o-transition: all .3s;
        transition: all .3s;
-webkit-border-radius: 5px;
   -moz-border-radius: 5px;
        border-radius: 5px;
-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,.4);
   -moz-box-shadow: 0px 1px 3px rgba(0,0,0,.4);
        box-shadow: 0px 1px 3px rgba(0,0,0,.4);
}


#cssmenu ul ul > li:hover > ul { opacity: 1; left: 196px; visibility: visible;}


#cssmenu ul ul a:hover{
    display: -webkit-box;
    display: -moz-box;
    display: box;

    -webkit-box-flex:1;
    -moz-box-flex:1;
    box-flex:1;

    background-color: #33b5e5;
    color: rgb(240,240,240);
}




}

@media screen and (min-width: 610px) {

    /* ensure #nav is visible on desktop version */

     #menu-icon {

        display: none; /* show menu icon */
    }

    #cssmenu {
        display: block !important;
    }

}
