
@media screen and (max-width: 610px) {

  .nav-collapse.collapse {
        position: relative;
    }

 #menu-icon {
        float: right;
        color: #000;
        width: 30px;
        height: 30px;
        background: #ecebeb url(../img/menu-icon.png) no-repeat 10px center;
        padding: 2px;
        cursor: pointer;
        border: solid 1px #666;
        display: block; /* show menu icon */
    }
    #menu-icon:hover {
        background-color: #f8f8f8;
    }
    #menu-icon.active {
        background-color: #bbb;
    }

#cssmenu ul { margin: 0; padding: 0;display:block;}
#cssmenu li { margin: 0; padding: 0; display:block;}
#cssmenu a { display:block; margin: 0; padding: 0;}
#cssmenu ul {list-style: none;width:100%;}
#cssmenu a {text-decoration: none;display:block; color: rgb(50,50,50);}
#cssmenu {


    overflow: hidden;
    text-shadow: none;
    width: 100%;
    color: rgb(50,50,50);
     float: left;
    display:none;
    height: auto;

    background-color: gray;
    /*box-shadow: 0px 2px 3px rgba(0,0,0,.4);*/

     font-family: 'Yanone Kaffeesatz', sans-serif;

    }


#cssmenu > ul > li {
    display: block;
    width: 100%;
    height: auto;
    text-transform: uppercase;
    padding: 10px;
    clear:both;
    color: rgb(50,50,50);
    margin:auto;
    border-bottom: none;



    position: relative;

    -webkit-transition: none;
    -moz-transition: none;
    transition: none;


}

#cssmenu > ul > li:hover{




    height: auto;
    width: 100%;
    color: #f9f9f9;
    text-shadow: none;
    border-bottom: none;
    background-image: none;
    background-color: rgb(135,135,135);


    -webkit-transition: none;
    -moz-transition: none;
    transition: none;





}


#cssmenu > ul > li > a {

   display: block;


    height: auto;

    width:auto;

    font-size: 20px;

    padding: none;

}

#cssmenu > ul > li > a  img{

    padding: 5px;
   display: block;

    float: left;
    width:25px;
    height:auto;


}

#cssmenu > ul > li:hover > a  img{






}

#cssmenu .iconwrapper
{

   display: block;
   float: left;

}

#cssmenu > ul > li > a > span{

   display: block;
    text-align: center;
    padding: 5px;
     float: left;


}

#cssmenu > ul > li:hover > a > span{


    color: #f9f9f9;


}


#cssmenu > ul > li > a > span.menu-subtitle{

    text-shadow: none;
    display: none;
    float: left;
    color: transparent;
    clear: both;
    padding-left: 40px;
    text-align: left;
   font-family: 'Open Sans Condensed', sans-serif;
    font-size: 16px;
    text-transform: none;

    -webkit-transition: color 0.9s;
    -moz-transition: color 0.9s;
    transition: color 0.9s;


}

#cssmenu > ul > li:hover > a > span.menu-subtitle{

    color: #f9f9f9;
    text-shadow: 0px 0px 1px #f9f9f9;



     -webkit-transition: color 0.9s;
    -moz-transition: color 0.9s;
    transition: color 0.9s;

}

#cssmenu > ul > li > ul {
    left: 0px;
    display: inline-block;
    color: #f9f9f9;
    opacity: 1.0;
    padding: 16px 0 20px 0;
    background-color: rgb(135,135,135);
    text-align: left;
    position: relative;

    -webkit-transition: none;
    -moz-transition: none;
    transition: none;

    width: 100%;


}

#cssmenu > ul > li:hover > ul {



}




#cssmenu > ul ul > li { display:block; position: relative; border-left: none;}
#cssmenu > ul ul > li:hover { border-left: none; background-image: url(../stripes-i.gif);
    background-repeat: all;}

#cssmenu ul ul a{

    color: #f9f9f9;
    text-transform: none;
    font-size: 17px;
    width: 100%;
   padding: 10px 8px 10px 26px;

    display: block;



}

#cssmenu ul ul a:hover{






}


#cssmenu ul ul ul {
    display:block;

    opacity: 1;
    position: relative;
    top: 0px;

    padding: 0px 0 0px 0;
    background-color: rgb(135,135,135);
    text-align: left;
    width: 160px;

}


#cssmenu ul ul > li > ul {display:block; opacity: 1; left: 0px; visibility: visible; width: 100%;}
#cssmenu ul ul > li:hover > ul {display:block; opacity: 1; left: 0px; visibility: visible; width: 100%;}

#cssmenu ul ul ul a{
    padding-left: 40px;
}


#menu-icon {

      display: block; /* show menu icon */
}




}

@media screen and (min-width: 610px) {

    /* ensure #nav is visible on desktop version */

     #menu-icon {

        display: none; /* show menu icon */
    }

    #cssmenu {
        display: block !important;
    }

}
