
@media screen and (max-width: 600px) {

#cssmenu ul { margin: 0; padding: 0;}
#cssmenu li { margin: 0; padding: 0;}
#cssmenu a { margin: 0; padding: 0;}
#cssmenu ul {list-style: none;

}
#cssmenu a {text-decoration: none;}
#cssmenu {
    height: auto; background-color: rgb(35,35,35);

    float: left;
    font-family: 'Yanone Kaffeesatz', sans-serif;

    }


#cssmenu > ul > li {
    display: block;
    text-transform: uppercase;
    box-shadow: none;
    border-top: none;
    float: none;
    padding-left: 5px;
    position: relative;

-webkit-transition: none;
   -moz-transition: none;
     -o-transition: none;
        transition: none;


}

#cssmenu > ul > li:hover{
    border-top: none;
    box-shadow: none;

    background-repeat: no-repeat;
    float: none;
   padding-left: 5px;
    position: relative;


-webkit-transition: none;
   -moz-transition: none;
     -o-transition: none;
        transition: none;


}


#cssmenu > ul > li > a {

    font-size: 20px;
    line-height: 50px;
    padding: 5px 5px;
-webkit-transition: none;
   -moz-transition: none;
     -o-transition: none;
        transition: none;
}

#cssmenu > ul > li > a:hover {color: rgb(250,250,250); }


#cssmenu > ul > li > ul {
    opacity: 1;
    visibility: visible;
    padding: 0px 10px 0px 0px;
    background-color: rgb(40,40,40);
    text-align: left;
    position: relative;
    top: 0px;
    left: 0px;
    margin-left: 0px;
    width: auto;
-webkit-transition: none;
   -moz-transition: none;
     -o-transition: none;
        transition: none;
-webkit-border-radius: 5px;
   -moz-border-radius: 5px;
        border-radius: 5px;
-webkit-box-shadow: none;
   -moz-box-shadow: none;
        box-shadow: none;
}

#cssmenu > ul > li:hover > ul {
    opacity: 1;
     padding: 0px 10 20px 0;
    top: 0px;
    visibility: visible;
}

#cssmenu > ul > li > ul:before{
    content: '';
    display: block;
    border-color: transparent transparent rgb(250,250,250) transparent;
    border-style: solid;
    border-width: 10px;
    position: absolute;
    top: -20px;
    left: 50%;
    margin-left: -10px;
}

#cssmenu > ul ul > li { position: relative;}

#cssmenu ul ul a{
    color: rgb(50,50,50);
    text-transform: none;
    font-size: 17px;
    background-color: rgb(250,250,250);
    padding: 10px 8px 10px 16px;
    display: block;

-webkit-transition: background-color .1s;
   -moz-transition: background-color .1s;
     -o-transition: background-color .1s;
        transition: background-color .1s;
}

#cssmenu ul ul a:hover {background-color: rgb(240,240,240); }


#cssmenu ul ul ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: -16px;
    left: 206px;
    padding: 16px 0 20px 0;
    background-color: rgb(250,250,250);
    text-align: left;
    width: auto;
-webkit-transition: all .3s;
   -moz-transition: all .3s;
     -o-transition: all .3s;
        transition: all .3s;
-webkit-border-radius: 5px;
   -moz-border-radius: 5px;
        border-radius: 5px;
-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,.4);
   -moz-box-shadow: 0px 1px 3px rgba(0,0,0,.4);
        box-shadow: 0px 1px 3px rgba(0,0,0,.4);
}


#cssmenu ul ul > li:hover > ul { opacity: 1; left: 196px; visibility: visible;}


#cssmenu ul ul a:hover{
    background-color: #33b5e5;
    color: rgb(240,240,240);
}


    /* nav-wrap */
    .nav-collapse.collapse {
        position: relative;
    }

    /* menu icon */
    #menu-icon {
        float: right;
        color: #000;
        width: 42px;
        height: 30px;
        background: #ecebeb url(../img/menu-icon.png) no-repeat 10px center;
        padding: 8px 10px 0 42px;
        cursor: pointer;
        border: solid 1px #666;
        display: block; /* show menu icon */
    }
    #menu-icon:hover {
        background-color: #f8f8f8;
    }
    #menu-icon.active {
        background-color: #bbb;
    }

    /* main nav */
    #cssmenu {
        right: 7px;
        clear: both;
        color: rgb(220,220,220);
        position: absolute;
        top: 45px;
        width: 160px;
        z-index: 10000;
        padding: 5px;
        background: rgb(35,35,35);
        border: solid 1px #999;
        display: none; /* visibility will be toggled with jquery */
    }
    #cssmenu li {
        clear: both;
        float: none;
        margin: 5px 0 5px 10px;
    }
    #cssmenu a,
    #cssmenu ul a {
        font: inherit;
        background: none;
        display: inline;
        padding: 0;
        color: #666;
        border: none;
    }
    #cssmenu a:hover,
    #cssmenu ul a:hover {
        background: none;
        color: #000;
    }

    /* dropdown */
    #cssmenu ul {
        width: auto;
        position: static;
        display: block;
        border: none;
        background: inherit;
    }
    #cssmenu ul li {
        margin: 0px 0 0px 0px;
    }

}

@media screen and (min-width: 600px) {

    /* ensure #nav is visible on desktop version */

     #menu-icon {

        display: none; /* show menu icon */
    }

    #cssmenu {
        display: block !important;
    }

}
